[MESSAGES CONTROL]
disable=fixme, pointless-string-statement, broad-exception-caught, unspecified-encoding, too-many-instance-attributes, too-many-function-args, invalid-name, multiple-statements, import-outside-toplevel