<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battle Optimizer</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <h1>
        <img
          src="../static/images/battle_opt_logo.pn"
          alt="Battle Optimizer"
          height="175"
        />
      </h1>
    </header>
    <div class="content">
      <div class="my_side">
        <div class="set_pok">
          <label for="pok1">Pokémon 1</label>
          <input
            class="pok_input"
            type="text"
            name="pok1"
            value=""
            placeholder="Select Pokémon"
            id="pok1"
          />
        </div>
        <div class="set_pok">
          <label for="pok2">Pokémon 2</label>
          <input
            class="pok_input"
            type="text"
            name="pok2"
            value=""
            placeholder="Select Pokémon"
            id="pok2"
          />
        </div>
        <div class="set_pok">
          <label for="pok3">Pokémon 3</label>
          <input
            class="pok_input"
            type="text"
            name="pok3"
            value=""
            placeholder="Select Pokémon"
            id="pok3"
          />
        </div>
        <div class="set_pok">
          <label for="pok4">Pokémon 4</label>
          <input
            class="pok_input"
            type="text"
            name="pok4"
            value=""
            placeholder="Select Pokémon"
            id="pok4"
          />
        </div>
        <div class="set_pok">
          <label for="pok5">Pokémon 5</label>
          <input
            class="pok_input"
            type="text"
            name="pok5"
            value=""
            placeholder="Select Pokémon"
            id="pok5"
          />
        </div>
        <div class="set_pok">
          <label for="pok6">Pokémon 6</label>
          <input
            class="pok_input"
            type="text"
            name="pok6"
            value=""
            placeholder="Select Pokémon"
            id="pok6"
          />
        </div>
      </div>
      <div class="middle">
        <button>Play Game</button>
      </div>
      <div class="opp_side">
        <label for="opp" class="opp">Opponent</label>
        <select name="opp" id="opp">
          <option value="rival1">Rival 1 lv 5</option>
        </select>
      </div>
    </div>
  </body>
</html>
