<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battle Optimizer</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <h1>
        <img
          src="../static/images/battle_opt_logo.png"
          alt="Battle Optimizer"
          height="175"
        />
      </h1>
    </header>
    <div class="content">
      <div class="my_side">
        <div class="set_pok">
          <input
            class="pok_input"
            type="text"
            name="pok1"
            value=""
            placeholder="Pokémon 1"
            id="pok1"
          />
        </div>
        <div class="set_pok">
          <input
            class="pok_input"
            type="text"
            name="pok2"
            value=""
            placeholder="Pokémon 2"
            id="pok2"
          />
        </div>
        <div class="set_pok">
          <input
            class="pok_input"
            type="text"
            name="pok3"
            value=""
            placeholder="Pokémon 3"
            id="pok3"
          />
        </div>
        <div class="set_pok">
          <input
            class="pok_input"
            type="text"
            name="pok4"
            value=""
            placeholder="Pokémon 4"
            id="pok4"
          />
        </div>
        <div class="set_pok">
          <input
            class="pok_input"
            type="text"
            name="pok5"
            value=""
            placeholder="Pokémon 5"
            id="pok5"
          />
        </div>
        <div class="set_pok">
          <input
            class="pok_input"
            type="text"
            name="pok6"
            value=""
            placeholder="Pokémon 6"
            id="pok6"
          />
        </div>
      </div>
      <div class="middle">
        <button class="play_game">Play Game</button>
        <button class="box" type="button" onclick="openPopupBox()">Box</button>
        <button class="trainer">Trainer</button>
        <div class="popup_box" id="popup_box">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure earum
            optio quis! Atque aliquid modi nemo sequi neque ullam a cum nobis,
            in vel ipsam magnam consectetur ipsa ab. Esse a adipisci ex
            explicabo blanditiis fuga fugiat! Iure molestiae voluptas at
            molestias nisi saepe. Nam nesciunt omnis maxime minima ratione
            nihil, pariatur dignissimos harum inventore distinctio provident?
            Qui, unde obcaecati itaque, id temporibus quae eos consequatur quos
            quod deleniti nulla repellendus asperiores laudantium veniam libero?
            Id perspiciatis error, vitae molestias eius delectus tenetur
            necessitatibus recusandae. Possimus quidem, veritatis ullam cum
            voluptatum debitis quo quam. Ducimus modi doloremque enim ad quod,
            voluptas suscipit nulla? Doloribus dignissimos velit hic unde eum!
            Quam aut quibusdam doloribus harum optio ex unde facilis doloremque,
            vero dolore! Modi at sint alias ea commodi, dolorem fugiat atque
            fuga neque obcaecati iusto veniam nulla repudiandae voluptate. Ex id
            consectetur amet labore saepe at atque expedita placeat architecto
            provident ipsa aperiam tenetur, sed laborum obcaecati, accusamus
            sequi quis modi eligendi. Quo consectetur nesciunt dolores, quisquam
            ut quae at necessitatibus, reprehenderit est ipsum suscipit eius,
            explicabo vitae aut sit aperiam laboriosam magni ipsa assumenda
            accusantium! Corrupti id velit corporis consequatur minima, ratione
            impedit aliquid laborum perspiciatis modi repellat nostrum quam
            ullam. Possimus voluptatem corporis vero obcaecati dolor vitae
            doloremque! Vel quae sapiente molestiae aliquid! Labore, quaerat.
            Nostrum corporis accusamus quam officia, animi atque asperiores.
            Alias inventore praesentium sit fuga atque optio deserunt, minus
            blanditiis dolore vitae esse, eum non quaerat odio exercitationem
            quam, ducimus voluptas perspiciatis? Vel atque iste quibusdam at
            cumque dolores, temporibus delectus odit, architecto facere quis
            doloremque laborum reiciendis, asperiores quo eveniet eos officia
            ullam quae ducimus. Et assumenda dolore deleniti cumque consequuntur
            unde libero officia explicabo culpa aspernatur quam quis sequi,
            suscipit dolor fuga consectetur eos error beatae architecto adipisci
            sint? Accusamus illum laudantium tempora sunt in ducimus velit
            corrupti labore nulla a voluptatibus dicta commodi aperiam, quo
            deleniti ut nihil ex maxime quasi, pariatur quas? Dicta molestias
            officia ipsa, mollitia nostrum numquam? Ratione atque explicabo
            deserunt earum officia quia in id dolore. Eos, esse ut voluptatum
            tempora a ad dolores accusamus quae optio veritatis saepe
            voluptatibus! Cum, illo ipsa consequuntur in error consequatur
            nesciunt vitae aspernatur, incidunt sunt sequi. Repellat sit iusto
            labore doloribus maxime aliquam nisi, eum quia ab, voluptatum illum
            quos. Deserunt, veritatis. Sapiente, laudantium quaerat. Amet quam
            laborum a beatae fuga deleniti illo? In dolor nisi facere inventore,
            qui magnam eos odit dolorum dolore voluptatibus unde possimus,
            eligendi deleniti consequatur numquam asperiores vero libero
            similique obcaecati autem accusantium! Quod debitis, eaque
            temporibus eveniet nulla perferendis aspernatur error cum iure iusto
            reprehenderit dolorem, odit dicta aliquam magni, numquam laudantium
            est similique obcaecati doloribus. Enim, iusto. Ipsum sequi illo at
            dolore distinctio ducimus laudantium. Velit in eligendi voluptatibus
            consequuntur praesentium, autem ipsa nihil harum dicta voluptatum
            expedita atque quos ipsam laudantium aliquid voluptas sunt labore
            qui vel, accusamus facere debitis ratione quam. Reprehenderit
            aliquam qui ratione amet architecto. Reiciendis nihil ipsum aliquid
            atque assumenda iste deserunt, numquam itaque nulla, necessitatibus
            sapiente, eveniet illo harum eaque. Dolorum sint ducimus pariatur
            nobis vitae laboriosam quasi itaque! Veniam repellat, nobis itaque
            illum debitis tenetur commodi perferendis voluptas ex quae quasi.
            Quasi tenetur sit quisquam. Debitis illum velit autem laborum cum
            deserunt ea doloribus pariatur! Recusandae eos exercitationem
            dolorem voluptas sit quae, saepe fuga perferendis. Illo eveniet
            labore porro est officiis, fugit corrupti voluptate similique
            reprehenderit velit nam voluptatem maiores iure tempora ipsa
            voluptates laboriosam, error dolorum natus debitis quia fuga
            recusandae sunt libero? Temporibus, saepe nam. Repellendus neque
            minima incidunt dignissimos corrupti a aliquam iure atque nisi.
            Quis, voluptates provident corporis, rerum debitis consequuntur at
            accusantium repellat hic dignissimos nemo illo, ipsum cum? Soluta
            quia eligendi ullam, doloremque eveniet a ducimus inventore id?
            Temporibus, delectus! Numquam expedita praesentium saepe
            perspiciatis nam necessitatibus aliquam amet pariatur, cumque harum
            molestiae, aut dolores nihil sit voluptate vitae eligendi cupiditate
            sunt quia ipsum? Consectetur, impedit. Sit quas delectus sed dicta
            eius assumenda corrupti iusto veritatis id dignissimos ipsam
            doloremque neque nostrum, hic ab qui architecto excepturi obcaecati
            sint eaque, error soluta nobis. Omnis consectetur numquam ipsam
            quibusdam distinctio assumenda laudantium, animi aspernatur laborum
            ad eos quasi pariatur nisi necessitatibus aperiam fugit molestiae a
            ea culpa sunt minima repellendus ipsum! Illo minima placeat nulla
            veritatis incidunt tempora iusto cumque rem nisi quam et voluptate,
            eligendi culpa repellat est maiores architecto commodi voluptatum at
            sed dolore quasi voluptates exercitationem amet! Perferendis nihil
            hic cumque sunt voluptatibus et rem, reiciendis nemo iste voluptatum
            totam sed cupiditate temporibus expedita, omnis molestias, fugit
            numquam. Necessitatibus aliquam quam dicta omnis soluta consectetur
            dolore pariatur eius, commodi officiis unde cum placeat eligendi
            voluptatem saepe temporibus ut dignissimos adipisci nobis labore
            corrupti odio corporis. Quis amet maxime placeat minus, perspiciatis
            blanditiis aspernatur quasi architecto similique asperiores vitae
            expedita quos voluptatum nisi ab harum vero eum numquam ipsam ad et
            necessitatibus dolorem aliquid. Quo beatae neque porro sapiente
            asperiores ab iure nulla voluptas suscipit commodi illum vel,
            voluptatem saepe non aut, accusantium consequatur! Autem ipsum, ad,
            animi maiores eveniet quia eos fugit deserunt aut repudiandae facere
            consectetur iure qui! Temporibus, maiores! Natus recusandae sequi
            nihil vitae reprehenderit nulla aperiam architecto. Eum, dignissimos
            voluptatibus. Praesentium voluptate obcaecati labore aliquid
            nesciunt, sed consequuntur mollitia vel quia, rerum consequatur fuga
            ex quas aperiam natus eveniet dolorem hic facere repellendus
            architecto. Asperiores eligendi ipsa quam animi in quia
            exercitationem vel ab omnis dicta molestias explicabo, totam
            necessitatibus cum quos iste perspiciatis tempore ea ut beatae!
            Quidem quibusdam rerum ullam nostrum, nihil ab. Dolorum magnam
            architecto similique consectetur hic laboriosam at exercitationem,
            illum voluptate explicabo ullam. Magnam suscipit corporis tempore
            amet pariatur obcaecati labore sequi ut perferendis. Tenetur libero
            a voluptas id soluta maiores blanditiis eos commodi odio placeat
            atque autem doloremque aspernatur aliquam laudantium voluptatibus
            facilis quas, quia nihil assumenda, laborum accusantium totam
            excepturi corrupti! Fugit rem quis odio porro voluptatem expedita
            quasi atque nesciunt quisquam velit reiciendis quibusdam maiores
            autem eaque suscipit culpa corrupti consequuntur, repudiandae
            temporibus saepe earum. Est provident necessitatibus aliquam
            distinctio culpa? Atque doloremque aperiam itaque rem dignissimos
            obcaecati eum.
          </p>
          <button type="button" onclick="closePopupBox()">Ok</button>
        </div>
      </div>
      <div class="opp_side">
        <div class="opp">
          <select name="opp" id="opp" class="opp_input">
            <option value="rival1">Rival 1 lv 5</option>
          </select>
        </div>
        <div class="opp_pok_side_1">
          <div class="opp_pok">
            <label for="pok1">Pokémon 1</label>
          </div>
          <div class="opp_pok">
            <label for="pok2">Pokémon 2</label>
          </div>
        </div>
        <div class="opp_pok_side_2">
          <div class="opp_pok">
            <label for="pok3">Pokémon 3</label>
          </div>
          <div class="opp_pok">
            <label for="pok4">Pokémon 4</label>
          </div>
        </div>
        <div class="opp_pok_side_3">
          <div class="opp_pok">
            <label for="pok5">Pokémon 5</label>
          </div>
          <div class="opp_pok">
            <label for="pok6">Pokémon 6</label>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/app.js" type="text/javascript"></script>
  </body>
</html>
