body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; /* full screen */
  display: flex;
  flex-direction: column;
  background-image: url(/front_end/static/);
}

header {
  text-align: center;
  padding: 1.2rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.my_side {
  width: 40%;
  padding: 1rem;
}

.middle {
  width: 30%;
}

.opp_side {
  width: 40%;
}
