<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <div>
      <h1>Pokémon Battle Optimizer</h1>
      <label for="game">Game</label>
      <select name="selectedGame" id="game">
        <option value="renegade">Pokémon Renegade Platinum</option>
      </select>
    </div>
    <div>
      <label for="box">Pokémon 1</label>
      <select name="pok1" id="box">
        <option value="char">Charmander</option>
        <option value="bulb">Bulbasaur</option>
        <option value="squirt">Squirtle</option>
      </select>
      <label for="box">Pokémon 2</label>
      <select name="pok2" id="box">
        <option value="char">Charmander</option>
        <option value="bulb">Bulbasaur</option>
        <option value="squirt">Squirtle</option>
      </select>
      <label for="box">Pokémon 3</label>
      <select name="pok3" id="box">
        <option value="char">Charmander</option>
        <option value="bulb">Bulbasaur</option>
        <option value="squirt">Squirtle</option>
      </select>
      <label for="box">Pokémon 4</label>
      <select name="pok4" id="box">
        <option value="char">Charmander</option>
        <option value="bulb">Bulbasaur</option>
        <option value="squirt">Squirtle</option>
      </select>
      <label for="box">Pokémon 5</label>
      <select name="pok5" id="box">
        <option value="char">Charmander</option>
        <option value="bulb">Bulbasaur</option>
        <option value="squirt">Squirtle</option>
      </select>
      <label for="box">Pokémon 6</label>
      <select name="pok6" id="box">
        <option value="char">Charmander</option>
        <option value="bulb">Bulbasaur</option>
        <option value="squirt">Squirtle</option>
      </select>
    </div>
    <div>
      <label for="opp">Opponent</label>
      <select name="opp" id="opp">
        <option value="rival1">Rival 1 lv 5</option>
      </select>
    </div>
  </body>
</html>
